@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
    background-color: #fffafa;
    /* #756f75;
    //  #284747;
    */
    /* others #578a8c*/
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.fondo-lista{
    background-color: #578a8c;
}


.item-trash{
    display: none;
}
li:hover .item-trash{
    display: inline;
}

.perspectiva {
    
    perspective: 250px;
}

* {  
    transition: all 1.2s ease-out;
}
.list-group-item {
    z-index: 1;
    // transform: translateZ(3em);
    transition: all 1s ease-out;
}

.list-group-item:hover{
    
    z-index: 10;
    transform: translateZ(150px) rotateY(45deg);
    transform:  scale(1.2);

}

// :hover {

// }